:host {
  box-sizing: border-box;
  block-size: calc(100% - 0px);
  inline-size: 100%;
  display: grid;
  place-content: flex-start;
  gap: 2ch;
  background: hsl(var(--hue), 6%, 18%);
  padding: 1rem;
}
