<h2>Responsive Bottom Navigation Menu</h2>
<nav class="bottom-nav">
  <a href="#" class="bottom-nav__link">
    <i class="material-icons bottom-nav__icon">dashboard</i>
    <span class="bottom-nav__text">Dashboard</span>
  </a>
  <a href="#" class="bottom-nav__link bottom-nav__link--active">
    <i class="material-icons bottom-nav__icon">person</i>
    <span class="bottom-nav__text">Profile</span>
  </a>
  <a href="#" class="bottom-nav__link">
    <i class="material-icons bottom-nav__icon">devices</i>
    <span class="bottom-nav__text">Devices</span>
  </a>
  <a href="#" class="bottom-nav__link">
    <i class="material-icons bottom-nav__icon">lock</i>
    <span class="bottom-nav__text">Privacy</span>
  </a>
  <a href="#" class="bottom-nav__link">
    <i class="material-icons bottom-nav__icon">settings</i>
    <span class="bottom-nav__text">Settings</span>
  </a>
</nav>
